a:hover{
  text-decoration: none;
}

@media (min-width: 1200px)
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1170px !important;
}

.save-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.save-item span{
  line-height: 28px;
  display: block;
  cursor: pointer;
}

.save-item:first-child, .no-data{
    padding: 0 18px;
    padding-top: 13px;
}

.save-item:first-child span:last-child,
.no-data{
  color: red;
}

.save-item:not(:nth-child(1)):hover{
  background: #EEEEEE;
}
